<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header" id="buis-header "
        [ngStyle]="
        {'background': 'url(https://www.hastac.org/sites/default/files/upload/images/post/data-visualization-best-practices.jpg) center center no-repeat scroll',
          'height': '400px',
          '-webkit-background-size': 'cover',
          '-moz-background-size': 'cover',
          'background-size': 'cover',
          '-o-background-size': 'cover',
          'padding-top': '50px'
        }">
  <div  class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline"></h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <h2>Welcome to the Data Visualization Project!</h2>
      <p>A picture is worth a million rows. Data visualization makes insights come alive with impact and communicates complex ideas simply. Expressive visualization enables you to get beyond static charts to create multi-faceted views of data and explore every dimension.</p>
      <h4>Visit the links in the navigation bar to view dynamic visualisations of over 600.000 measurements.</h4>
      <p>
        <a class="btn btn-default btn-lg" routerLink='/providers'>Go »</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Contact Us</h2>
      <address>
        <strong>Start Bootstrap</strong>
        <br>3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>(123) 456-7890
        <br>
        <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © Harokopeio University 2017</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->




