<div *ngIf="dataReady">
    <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <!--<button (click)="randomize()">Update</button>-->
    <p>Cosmote:{{barChartData[0].data[0]}}</p>
    <p>Wind:{{barChartData[1].data[0]}}</p>
</div>

