<div *ngIf="dataReady">
    <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <!--<button (click)="randomize()">Update</button>-->
    <div class="container">
        <h2>Form title</h2>
        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="type">Measurement Type: </label>
                <select class="form-control" id="type" [(ngModel)]="model.type" name="type" >
                    <option *ngFor="let measurementType of measurementTypes"
                            [value]="measurementType.value">{{measurementType.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gen">Generation: </label>
                <select class="form-control" id="gen" [(ngModel)]="model.gen" name="gen" >
                    <option *ngFor="let gen of gens"
                            [value]="gen.value">{{gen.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="daterange">Date Range: </label>
                <div id='daterange'>
                    <my-date-range-picker  name="mydaterange" [options]="myDateRangePickerOptions"
                                          [(ngModel)]="model.dates" required>
                    </my-date-range-picker>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>