    <h1>Heatmap Layer</h1>
    <ngui-map zoom="13" center="2655058.9110122095, 4584981.900203452">
    <!--<ngui-map zoom="13" center="Athens, Greece">-->
        <div id="floating-panel">
            <button (click)="toggleHeatmap()">Toggle Heatmap</button>
            <button (click)="changeGradient()">Change gradient</button>
            <button (click)="changeRadius()">Change radius</button>
            <button (click)="changeOpacity()">Change opacity</button>
        </div>
        <heatmap-layer [data]="points"></heatmap-layer>
    </ngui-map>
    <button (click)="showRandomMarkers()">Show Random Markers</button>
    <br/>
    <button (click)="addMarker()">Add Marker</button>