<div class="container-fluid">
    <h1>Heatmap Layer</h1>
    <!--<ngui-map zoom="13" center="38.039319999999975, 23.8508">-->
    <ngui-map zoom="13"
              center="Athens, Greece"
              (zoomChange)="onZoomChange($event)"
              (mapClick)="onMapClick($event)">
        <div id="floating-panel">
            <button (click)="toggleHeatmap()">Toggle Heatmap</button>
            <button (click)="changeGradient()">Change gradient</button>
            <button (click)="changeRadius()">Change radius</button>
            <button (click)="changeOpacity()">Change opacity</button>
        </div>
        <heatmap-layer [data]="points"></heatmap-layer>
    </ngui-map>

    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div class="form-inline" id="upperInline">
            <div class="form-group">
                <label for="type">Type </label>
                <div id="type">
                    <select class="form-control"  [(ngModel)]="model.type" name="type" >
                        <option *ngFor="let measurementType of measurementTypes"
                                [value]="measurementType.value">{{measurementType.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="provFromgroup">
                <label for="provider">Provider </label>
                <div id="provider">
                    <select class="form-control"  [(ngModel)]="model.provider" name="provider" >
                        <option *ngFor="let p of providers"
                                [value]="p.value">{{p.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Change</button>
    </form>
</div>