#mainNavbar{
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  background-color: #222222;
  width:100%;
  border-top-width: 0px; !important;
}
.nav.navbar-nav li a{
  color: #aaabab;
}

.navbar-header a{
  color: #aaabab;
}
