<nav class="navbar navbar-default" id="mainNavbar">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">Data Viz</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a routerLink='/dataconsumer'>Data Consumer Page</a></li>
            <li><a routerLink='/barchart'>Bar Charts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="state"><a routerLink='/login'>Welcome <b>{{currentUser }}</b> (Logout)</a></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

